<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  
    <span>Littel Linguist</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Management Mode</button>
    <button mat-menu-item>Game Mode</button>
  </mat-menu>
  